<h1>Restaurant</h1>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Category</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Phone number</strong>
  <%= @restaurant.phone_number %>
</p>


<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %></p>
  <p><%= review.rating %></p>
<% end %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %>|
<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>|
<%= link_to 'Back', restaurants_path %>
